.Home {
    width: 100%;
    min-height: calc(100vh - 60px);
    background: url('../../images/stars.svg'), #1B1B25;
    background-repeat: repeat;
  
    color: #ffffff;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .Home__col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .Home__astronauts {
      width: 700px;
      height: 450px;
      margin-bottom: 0
   }
  
  @media screen and (max-width: 1024px) {
    .Home {
      flex-direction: column-reverse;
    }

    .Home__astronauts{
        width: 320px;
        height: 240px;
        margin-bottom: 20px;
    }
  }

  @media screen and (min-width: 768px) {
    .Home__col {
      align-items: flex-start;
    }
  }